/******************************
INDEX:
    00 - General
    01 - Typography
    02 - Text Color & Background Color
    03 - Background Position & Size
    04 - Helper class
    05 - Social icons
    06 - Header
    07 - Bootstrap Overwrite 
    08 - Swiper 
    09 - Scroll To Top 
    10 - Search Box
******************************/

/*----------------------------------------*/
/* 00 - General 
/*----------------------------------------*/
 html {
     font-family: sans-serif;
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}
 *{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 body {
     margin: 0;
     overflow-x: hidden;
}
 p {
     margin: 0 0 25px;
}
 article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
     display: block;
}
 audio, canvas, progress, video {
     display: inline-block;
     vertical-align: baseline;
}
 audio:not([controls]) {
     display: none;
     height: 0;
}
 [hidden], template {
     display: none;
}
 a {
     background-color: transparent;
}
 abbr[title] {
     border-bottom: 1px dotted;
}
 small {
     font-size: 80%;
}
 sub, sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
}
 sup {
     top: -0.5em;
}
 sub {
     bottom: -0.25em;
}
 img {
     border: 0;
}
 svg:not(:root) {
     overflow: hidden;
}
 figure {
     margin: 0;
}
 hr {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
}
 code, kbd, pre, samp {
     font-size: 1em;
}
 button, input, optgroup, select, textarea {
     color: inherit;
     font: inherit;
     margin: 0;
}
 select {
     text-transform: none;
}
 button {
     overflow: visible;
}
 button, input, select, textarea {
     max-width: 100%;
}
 button, html input[type="button"], input[type="reset"], input[type="submit"] {
     -webkit-appearance: button;
     cursor: pointer;
}
 button[disabled], html input[disabled] {
     cursor: default;
     opacity: .5;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
     border: 0;
     padding: 0;
}
 input[type="checkbox"], input[type="radio"] {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin-right: 0.4375em;
     padding: 0;
}
 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
     height: auto;
}
 input[type="search"] {
     -webkit-appearance: textfield;
}
 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
}
 fieldset {
     border: 1px solid #d1d1d1;
     margin: 0 0 1.75em;
     padding: 0.875em;
}
 fieldset > :last-child {
     margin-bottom: 0;
}
 legend {
     border: 0;
     padding: 0;
}
 textarea {
     overflow: auto;
     vertical-align: top;
}
 optgroup {
     font-weight: bold;
}
 textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, .form-control:focus {
     outline:0px !important;
     -webkit-appearance:none;
     box-shadow: none !important;
}
 .form-select{
     padding: 14px 20px;
     font-size: 14px;
     color: #848484;
     border: 1px solid #eeeeee;
     border-radius: 0;
     font-family: var(--pbmit-body-typography-font-family);
     font-weight: 400;
	 height: 45px;
	 margin-bottom: 30px;
}
 .form-select:focus {
     border-color: #eeeeee;
     outline: 0;
     box-shadow: none;
}
.pbmit-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

/*----------------------------------------*/
/* 01 - Typography 
/*----------------------------------------*/
 body {
     font-family:var(--pbmit-body-typography-font-family);
     font-weight: var(--pbmit-body-typography-variant);
     color: var(--pbmit-body-typography-color);
     font-size: var(--pbmit-body-typography-font-size);
     line-height: var(--pbmit-body-typography-line-height);
     color: var(--pbmit-body-typography-color);
     text-transform: none;
     font-style: normal;
}
 h1, h2, h3, h4, h5, h6 {
     font-family:var(--pbmit-heading-typography-font-family);
     font-weight: var(--pbmit-heading-font-variant);
     color: var(--pbmit-heading-color);
}
h1 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0px;
}
h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0px;
}
h3 {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
}
h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
}
h5 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}
h6 {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
}
 ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
 a {
     -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -ms-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
     color: var(--pbmit-link-color-normal);
     text-decoration: none;
}
 a:focus {
     text-decoration: none !important;
}
 a:focus, a:hover {
     color: var(--pbmit-link-color-hover);
     text-decoration: none !important;
}
 a.link-btn, .link-btn a{
     font-family: "Montserrat", Arial, Helvetica, sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 14px;
     letter-spacing: 1px;
}
 a.link-btn i, .link-btn a i{
     padding-left: 10px;
}
.pbmit-btn-lg{
	padding: 16px 50px!important;
    font-size: 15px !important;
    border-radius: 5px !important;
}
 .pbmit-btn {
     display: inline-block;
     text-decoration: none;
     font-family: var(--pbmit-btn-typography-font-family);
     font-size: var(--pbmit-btn-typography-font-size);
     font-weight: 700;
     line-height: var(--pbmit-btn-typography-line-height);
     letter-spacing: 1px;
     padding: 17px 40px 17px 40px;
     text-transform:uppercase;
     background-color:var(--pbmit-global-color);
     border: 1px solid transparent;
     border-radius: var(--border-radius);
     box-shadow : var(--box-shadow-global);
     color: #fff;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
     cursor: pointer;
     outline: none !important;
     -webkit-font-smoothing: antialiased;
     text-align: center;
     transition: all .25s ease-in-out;
	 margin-bottom: 21px;
}
 .pbmit-btn:hover, .pbmit-btn:focus {
     color: #ffffff;
     background-color: #313437;
     box-shadow: var(--box-shadow-blackish);
     outline: none;
}
.pbmit-btn-outline {
    background-color: transparent;
    color: #555;
    border: 1px solid #555;
}
.pbmit-btn-outline:hover, .pbmit-btn-outline:focus {
    background-color: #555;
	border: 1px solid #555;
    color: #fff;
}
.pbmit-btn-blackish{
	padding: 21px 50px 21px;
	font-weight: 500;
	line-height: 1.75;
	background-color:  var(--pbmit-blackish-color);
	color: var(--pbmit-white-color);
}
.pbmit-btn-outline-global {
    color: var(--pbmit-global-color);
    border: 1px solid var(--pbmit-global-color);
	background-color: transparent;
}
.pbmit-btn-outline-global:hover, .pbmit-btn-outline-global:focus {
    background-color: var(--pbmit-global-color);
    color: var(--pbmit-white-color);
}
.pbmit-btn-white{
	background-color: var(--pbmit-white-color);
	color: var(--pbmit-blackish-color);
}
.pbmit-btn-white:hover{
   background-color: var(--pbmit-blackish-color);
   color:var(--pbmit-white-color);
}
.pbmit-btn-hover-white{
	font-weight: 500;
    background-color: var(--pbmit-global-color);
	font-family: var(--pbmit-heading-typography-font-family);
}
.pbmit-btn-hover-white:hover{
    background-color: var(--pbmit-white-color);
	color:var(--pbmit-blackish-color);
}
.pbmit-btn-hover-global{
	background-color: #313437;
    color: var(--pbmit-white-color);
}
.pbmit-btn-hover-global:hover{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}

/** Divider **/
 .sep-line{
     height: 1px;
     border-top: 1px solid #ebebeb;
     display: block;
     position: relative;
     top: 1px;
     width: 100%;
}

/*----------------------------------------*/
/* 02 - Background Color 
/*----------------------------------------*/
 body .pbmit-bg-color-global{
     background-color: var(--pbmit-global-color);
}
 body .pbmit-bg-color-secondary{
     background-color: var(--pbmit-secondary-color);
}
 body .pbmit-bg-color-light{
     background-color: var(--pbmit-light-color);
}
 body .pbmit-bg-color-blackish{
     background-color: var(--pbmit-blackish-color);
}
 body .pbmit-color-global{
     color: var(--pbmit-global-color);
}
body .pbmit-bg-color-white{
    background-color: var(--pbmit-white-color);
}

/*----------------------------------------*/
/* 03 - Background Position & Size 
/*----------------------------------------*/
 .bg-cover{
    background-size: cover;
}
 .bg-contain{
    background-size: contain;
}
 .bg-pos-l{
    background-position: left;
}
 .bg-pos-r{
    background-position: right;
}
 .bg-pos-rt{
    background-position: right top;
}
 .bg-pos-lt{
    background-position: left top;
}
 .bg-pos-rb{
    background-position: right bottom;
}
 .bg-pos-lb{
    background-position: left bottom;
}

/*----------------------------------------*/
/* 04 - Helper Class 
/*----------------------------------------*/
	.section-md{
	 padding-top: 90px;
	 padding-bottom:70px;
}
 	.section-lg{
     padding-top: 100px;
     padding-bottom:120px;
}
 	.section-lgx{
     padding-top: 120px;
     padding-bottom: 70px;
}
 	.section-lgt{
     padding-top: 90px;
}
 	.section-lgb{
     padding-bottom:70px;
}

/*----------------------------------------*/
/* 05 - Social icons 
/*----------------------------------------*/
 .social-icons {
     list-style: none;
     margin: 0px;
     padding: 0px;
     font-size: 15px;
     padding-top: 2px;
     padding-bottom: 3px;
}
 .social-icons li {
     display: inline-block;
     padding-left: 2px;
     padding-right: 2px;
     min-width: 34px;
}
 .social-icons li > a {
     width: 30px;
     height: 30px;
     line-height: 30px;
     margin-right: 8px;
     background-color: transparent;
     font-size: 16px;
}

/*----------------------------------------*/
/* 06 - Header 
/*----------------------------------------*/
 .navbar-brand .navbar-brand-item {
     height: 60px;
     display: block;
     width: auto;
}
 .site-header{
     position: relative;
}
 .site-header .site-branding img {
     display: inline-block;
     max-width: 100%;
     height: auto;
     max-height: 100%;
     z-index: 1;
     position: relative;
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
}
 .site-navigations ul.navigation > li > a {
     display: block;
     padding: 0px;
	 margin: 0px 18px 0px 18px;
     text-decoration: none;
     position: relative;
     z-index: 1;
     font-size: 14px;
     font-weight: 700;
     height: 105px;
     line-height: 105px;
     letter-spacing: 0px;
     text-transform: none;
     color: #313437;
}
.site-navigations ul li.active > a{
	color: var(--pbmit-global-color);
}
.site-navigations ul.navigation > li > a:hover{
     color: var(--pbmit-global-color);
}
.site-navigations ul.navigation > li > a:hover:after{
    color: var(--pbmit-global-color);
}
 .site-navigations ul.navigation a{
     font-family: var(--pbmit-body-typography-font-family);
     font-weight: 700;
     font-size: 15px;
}
 .main-menu .navigation > li {
     position: relative;
     float: left;
     -webkit-transition: all 300ms ease;
     -moz-transition: all 300ms ease;
     -ms-transition: all 300ms ease;
     -o-transition: all 300ms ease;
     transition: all 300ms ease;
}
 .main-menu .navigation > li > ul , .main-menu .navigation > li > ul > li > ul {
     min-width: 250px;
     box-shadow: 0px 10px 40px rgb(0 0 0 / 20%)!important;
     border-bottom: inherit;
     border-top: 3px solid var(--pbmit-global-color);
     position: absolute;
     left: 0;
     height: 0;
     overflow: hidden;
     z-index: 100;
     visibility: hidden;
     background-color: #313437;
     opacity: 0;
     -webkit-transform: translateY(15px);
     -moz-transform: translateY(15px);
     -ms-transform: translateY(15px);
     -o-transform: translateY(15px);
     transform: translateY(15px);
     -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}
 .main-menu .navigation > li > ul > li > ul {
     left: 100%;
     top: 0;
}
 .main-menu .navigation > li.dropdown:hover > ul , .main-menu .navigation > li > ul > li.dropdown:hover > ul {
     visibility: visible;
     opacity: 1;
     -webkit-transform: translateY(0px);
     -ms-transform: translateY(0px);
     transform: translateY(0px);
     z-index: 999;
     height: auto;
	 overflow: visible;
}
.main-menu .navigation > li > ul li a{
    border-bottom: 1px solid transparent;
}
.main-menu .navigation > li > ul a{
    padding: 15px 20px;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
	color: var(--pbmit-white-color);
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.main-menu .navigation > li > ul li:not(:last-child){
	position: relative;
    border-bottom: 1px solid transparent;
}
.main-menu .navigation > li > ul li.active a{
	color: var(--pbmit-global-color);
}
.main-menu .navigation > li > ul a:hover{
	background-color: var(--pbmit-white-color);
	color: var(--pbmit-global-color);
}
.main-menu .navigation > li > ul li.active a:hover,
.main-menu .navigation > li > ul a:hover{
	color: var(--pbmit-global-color);
}
.site-header .site-navigation ul.navigation > li.active > a {
    color: var(--pbmit-global-color);
} 
 .header-button .pbmit-btn{
     padding: 15px 24px;
}
 .header-button .pbmit-btn i{
     font-size: 20px;
}
 .site-header .search-btn{
     margin-right: 15px;
     font-size: 17px;
}
 .site-header .social-icons li > a{
     height: 50px;
     line-height: 50px;
}
 .ipad-view-search{
     display: none;
}
 .pbmit-link li{
     margin: 0 10px;
}
/** sticky-header **/
 .sticky-header{
     position: fixed !important;
     top: 0px;
     width: 100%;
     background-color: #fff;
     z-index: 999;
     margin: 0;
     -webkit-box-shadow: 0px 13px 25px -12px rgb(0 0 0 / 25%);
     -moz-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.25);
   	 box-shadow: 0px 13px 25px -12px rgb(0 0 0 / 25%);
     padding: 0;
}
 .site-header-menu .logo-img.stickylogo, .site-header-menu.sticky-header .logo-img{
     max-height: 40px;
}
 .site-header-menu.sticky-header .logo-img.stickylogo{
     display: inline-block;
}
 .sticky-header .site-navigations ul.navigation > li > a{
     height: auto;
     line-height: 90px;
}
.site-header-menu{
    transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}
.sticky-header {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -op-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.fadeInDown{
    animation-name:fadeInDown
}
@keyframes fadeInDown{
    from{
        opacity:0;
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        transform:none
    }
}
/* Pre Header */
 .pre-header{
    height: 55px;
    line-height: 55px;
}
 .list-unstyled i{
    font-size: 14px;
    color: #666;
}
.closepanel, .pbmit-mobile-menu-bg,.site-header .righticon{
    display: none;
}
/*----------------------------------------*/
/* 07 - Bootstrap Overwrite 
/*----------------------------------------*/
 .g-lg-4,.gy-lg-4, .g-4, .gy-4 {
     --bs-gutter-y: 2rem;
}
 .g-lg-4,.gx-lg-4, .g-4, .gx-4 {
     --bs-gutter-x: 2rem;
}
 .row>* {
     padding-right: calc(var(--bs-gutter-x) * .6);
     padding-left: calc(var(--bs-gutter-x) * .6);
}

/*----------------------------------------*/
/* 08 - Swiper 
/*----------------------------------------*/
 .swiper-slider{
     margin-left: auto;
     margin-right: auto;
     position: relative;
     overflow: hidden;
     z-index: 1;
}
 .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.73);
    border-radius: 10px;
    margin: 0 10px 0 0 !important;
	background: transparent;
	display: inline-block;
	position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
	opacity: 1;
}
 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
 .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
	left: 0;
    right: 30px;
    text-align: right;
}
 .swiper-slider[data-dots="true"] {
     margin-bottom: 60px;
}
 .swiper-pagination-bullet-active{
    box-shadow: inset 0 0 0 2px #fff;    
    background: transparent;
    border-radius: 10px;
    background-color: transparent;
}
.swiper-button-next, .swiper-button-prev {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #313437;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    top: inherit;
    bottom: -28px;
    right: 0;
    left: 0;
    z-index: 1;
}
 .swiper-button-next:after, .swiper-button-prev:after {
     font-family: "pbminfotech-base-icons";
     content: '\e808';
     font-size: 24px;
     color: var(--pbmit-blackish-color)!important;
     font-weight: normal;
     transition: all 500ms ease;
     -webkit-transition: all 500ms ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
	background-color: #313437;
}
.swiper-button-next:hover:after, .swiper-button-prev:hover:after{
	color: var(--pbmit-white-color) !important;
}
 .swiper-button-prev, .swiper-rtl .swiper-button-next {
     transform: rotate(180deg);
     position: absolute;
     left: 50px;
}
 .swiper-slider.home-case-studies{
     overflow: visible;
}
 .home-case-studies .swiper-buttons{
     position: absolute;
     top: -100px;
     right: 0;
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     left: 0;
     padding: 0 15px;
     text-align: right;
}
 .home-case-studies .swiper-button-prev{
     left: initial;
     right: 75px;
}
.swiper-slider.marquee .swiper-slide {
    display: flex;
    width: auto!important;
}
.swiper-slider.marquee .swiper-wrapper{
    -webkit-transition-timing-function:linear !important; 
    -o-transition-timing-function:linear !important; 
    transition-timing-function:linear !important; 
 }
 
/*----------------------------------------*/
/* 09 - Scroll To Top 
/*----------------------------------------*/
body .scroll-to-top {
    position: fixed;
    z-index: 200;
    opacity: 0;
    bottom: 34px;
    right: 34px;
    width: 50px;
    height: 50px;
    line-height: 36px;
    font-size: 25px; 
    background-color: var(--pbmit-global-color);
    text-align: center;
    border: none;
    color: #fff;
	padding-top: 5px;
    border-radius: 50%;
}
body .scroll-to-top.show {
    opacity: 1;
}
body .scroll-to-top:hover {
    color: #fff !important;
    background-color: #333;
}

/*----------------------------------------*/
/*  10 - Search Box
/*----------------------------------------*/
.pbmit-search-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color:rgba(0,0,0,.9);
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
}
.pbmit-icon-close {
    position: absolute;
    color: #fff;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
.pbmit-icon-close:before {
    content: '\e82d'; 
    font-family: "pbminfotech-base-icons";
    font-size: 30px;
    font-weight: 700;
    opacity: .5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    opacity: .6;
}
.pbmit-icon-close:hover:before{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1;
}
.pbmit-search-outer {
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pbmit-search-outer .pbmit-search-logo {
    margin-bottom: 60px;
    position: absolute;
    margin-top: -125px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -khtml-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.pbmit-search-outer .pbmit-search-logo img {
    max-height: 65px;
}
.pbmit-search-overlay .pbmit-site-searchform {
    position: relative;
}
.pbmit-search-overlay input[type="search"]::placeholder{
	color: #999;
}
.pbmit-search-overlay input[type="search"] {
    border-bottom-color: var(--pbmit-global-color);
}
.pbmit-search-overlay input[type="search"] {
    border: none;
    font-size: 25px;
    padding: 0;
    padding-left: 16px;
    text-align: left;
	font-weight: 500;
    height: 70px;
    line-height: 70px;
	width: 100%;
    border-radius: 0;
    background-color: var(--pbmit-white-color);
	font-family: var(--pbmit-heading-typography-font-family);
}
.pbmit-search-overlay .pbmit-site-searchform button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px; 
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    width: 60px;
    border: 0;
    border-radius: 0px;
    color: #fff;
    background-color: var(--pbmit-secondary-color);
}
.pbmit-search-overlay.st-show {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}