
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
 :root {
     --pbmit-global-color:  #fe8e4c;
     --pbmit-secondary-color: #14212a;
     --pbmit-light-color: #f2f2f2;
     --pbmit-white-color:#ffffff;
     --pbmit-blackish-color: #14212a;
     --pbmit-link-color-normal: #14212a;
     --pbmit-link-color-hover: #fe8e4c;
     --pbmit-global-color-rgb: rgb(255, 220, 57);
     --pbmit-secondary-color-rgb:rgb(20, 33, 42);
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family:'Nunito Sans', Tahoma, Geneva, sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 24px;
     --pbmit-body-typography-color: #777777;
     --pbmit-heading-typography-font-family:'Biryani', Arial, Helvetica, sans-serif;
     --pbmit-heading-color: #1b2024;
     --pbmit-heading-font-variant: 700;
     --pbmit-btn-typography-font-family:'Nunito Sans', Arial, Helvetica, sans-serif;
     --pbmit-btn-typography-variant: 600;
     --pbmit-btn-typography-font-size: 12px;
     --pbmit-btn-typography-line-height: normal;
	 --border-radius: 0px;
}
 