	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/01/2019 13:57
  	*/

	  @font-face {
		font-family: "Flaticon";
		src: url("../fonts/flaticon.eot");
		src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/flaticon.woff2") format("woff2"),
			 url("../fonts/flaticon.woff") format("woff"),
			 url("../fonts/flaticon.ttf") format("truetype"),
			 url("../fonts/flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	  }
	  
	  @media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		  font-family: "Flaticon";
		  src: url("../fonts/flaticon.svg#Flaticon") format("svg");
		}
	  }
	  
	  [class^="pbmit-moversco-business-icon-"]:before, [class*=" pbmit-moversco-business-icon-"]:before,
	  [class^="pbmit-moversco-business-icon-"]:after, [class*=" pbmit-moversco-business-icon-"]:after {   
		font-family: Flaticon;
		font-style: normal;
	  } 
  .pbmit-moversco-business-icon-checklist:before { content: "\f100"; }
  .pbmit-moversco-business-icon-world:before { content: "\f101"; }
  .pbmit-moversco-business-icon-smile:before { content: "\f102"; }
  .pbmit-moversco-business-icon-box:before { content: "\f103"; }
  .pbmit-moversco-business-icon-gift:before { content: "\f104"; }
  .pbmit-moversco-business-icon-boxes:before { content: "\f105"; }
  .pbmit-moversco-business-icon-suitcase:before { content: "\f106"; }
  .pbmit-moversco-business-icon-placeholder:before { content: "\f107"; }
  .pbmit-moversco-business-icon-house:before { content: "\f108"; }
  .pbmit-moversco-business-icon-shield:before { content: "\f109"; }
  .pbmit-moversco-business-icon-like:before { content: "\f10a"; }
  .pbmit-moversco-business-icon-tap:before { content: "\f10b"; }
  .pbmit-moversco-business-icon-delivery-truck:before { content: "\f10c"; }
  .pbmit-moversco-business-icon-headset:before { content: "\f10d"; }
  .pbmit-moversco-business-icon-shipping-and-delivery:before { content: "\f10e"; }
  .pbmit-moversco-business-icon-order:before { content: "\f10f"; }
  .pbmit-moversco-business-icon-shipping-and-delivery-1:before { content: "\f110"; }
  .pbmit-moversco-business-icon-logistics-delivery:before { content: "\f111"; }
  .pbmit-moversco-business-icon-headset-1:before { content: "\f112"; }
  .pbmit-moversco-business-icon-truck:before { content: "\f113"; }
  .pbmit-moversco-business-icon-cargo:before { content: "\f114"; }
  .pbmit-moversco-business-icon-truck-1:before { content: "\f115"; }
  .pbmit-moversco-business-icon-trolley:before { content: "\f116"; }
  .pbmit-moversco-business-icon-aircraft:before { content: "\f117"; }
  .pbmit-moversco-business-icon-umbrella:before { content: "\f118"; }
  .pbmit-moversco-business-icon-cargo-1:before { content: "\f119"; }
  .pbmit-moversco-business-icon-parcel:before { content: "\f11a"; }
  .pbmit-moversco-business-icon-medal:before { content: "\f11b"; }
  .pbmit-moversco-business-icon-trophy:before { content: "\f11c"; }
  .pbmit-moversco-business-icon-placeholder-1:before { content: "\f11d"; }
  .pbmit-moversco-business-icon-mail:before { content: "\f11e"; }
  .pbmit-moversco-business-icon-call:before { content: "\f11f"; }
  .pbmit-moversco-business-icon-smartphone:before { content: "\f120"; }
  .pbmit-moversco-business-icon-smartphone-1:before { content: "\f121"; }
  .pbmit-moversco-business-icon-placeholder-2:before { content: "\f122"; }
  .pbmit-moversco-business-icon-placeholder-3:before { content: "\f123"; }
  .pbmit-moversco-business-icon-pin:before { content: "\f124"; }
  .pbmit-moversco-business-icon-email:before { content: "\f125"; }
  .pbmit-moversco-business-icon-email-1:before { content: "\f126"; }
  .pbmit-moversco-business-icon-smile-1:before { content: "\f127"; }
  .pbmit-moversco-business-icon-smile-2:before { content: "\f128"; }