@font-face {
  font-family: 'pbminfotech-base-icons';
  src: url('../fonts/pbminfotech-base-icons.eot?54407386');
  src: url('../fonts/pbminfotech-base-icons.eot?54407386#iefix') format('embedded-opentype'),
       url('../fonts/pbminfotech-base-icons.woff2?54407386') format('woff2'),
       url('../fonts/pbminfotech-base-icons.woff?54407386') format('woff'),
       url('../fonts/pbminfotech-base-icons.ttf?54407386') format('truetype'),
       url('../fonts/pbminfotech-base-icons.svg?54407386#pbminfotech-base-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pbminfotech-base-icons';
    src: url('../font/pbminfotech-base-icons.svg?54407386#pbminfotech-base-icons') format('svg');
  }
}
*/
[class^="pbmit-base-icon-"]:before, [class*=" pbmit-base-icon-"]:before {
  font-family: "pbminfotech-base-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 

.pbmit-base-icon-google-drive:before { content: '\e800'; } /* '' */
.pbmit-base-icon-issuu:before { content: '\e801'; } /* '' */
.pbmit-base-icon-user:before { content: '\e802'; } /* '' */
.pbmit-base-icon-music:before { content: '\e803'; } /* '' */
.pbmit-base-icon-video:before { content: '\e804'; } /* '' */
.pbmit-base-icon-quote:before { content: '\e805'; } /* '' */
.pbmit-base-icon-aside:before { content: '\e806'; } /* '' */
.pbmit-base-icon-rss:before { content: '\e807'; } /* '' */
.pbmit-base-icon-angle-left:before { content: '\e808'; } /* '' */
.pbmit-base-icon-angle-right:before { content: '\e809'; } /* '' */
.pbmit-base-icon-status:before { content: '\e80a'; } /* '' */
.pbmit-base-icon-dribbble:before { content: '\e80b'; } /* '' */
.pbmit-base-icon-facebook:before { content: '\e80c'; } /* '' */
.pbmit-base-icon-flickr:before { content: '\e80d'; } /* '' */
.pbmit-base-icon-gplus:before { content: '\e80e'; } /* '' */
.pbmit-base-icon-instagram:before { content: '\e80f'; } /* '' */
.pbmit-base-icon-linkedin:before { content: '\e810'; } /* '' */
.pbmit-base-icon-pinterest:before { content: '\e811'; } /* '' */
.pbmit-base-icon-twitter:before { content: '\e812'; } /* '' */
.pbmit-base-icon-vk:before { content: '\e813'; } /* '' */
.pbmit-base-icon-xing:before { content: '\e814'; } /* '' */
.pbmit-base-icon-yelp:before { content: '\e815'; } /* '' */
.pbmit-base-icon-youtube:before { content: '\e816'; } /* '' */
.pbmit-base-icon-gallery:before { content: '\e817'; } /* '' */
.pbmit-base-icon-plus:before { content: '\e818'; } /* '' */
.pbmit-base-icon-link:before { content: '\e819'; } /* '' */
.pbmit-base-icon-tag:before { content: '\e81a'; } /* '' */
.pbmit-base-icon-clock:before { content: '\e81b'; } /* '' */
.pbmit-base-icon-heart:before { content: '\e81c'; } /* '' */
.pbmit-base-icon-sticky:before { content: '\e81d'; } /* '' */
.pbmit-base-icon-marker:before { content: '\e81e'; } /* '' */
.pbmit-base-icon-comment:before { content: '\e81f'; } /* '' */
.pbmit-base-icon-chat:before { content: '\e820'; } /* '' */
.pbmit-base-icon-podcast:before { content: '\e821'; } /* '' */
.pbmit-base-icon-houzz:before { content: '\e822'; } /* '' */
.pbmit-base-icon-image:before { content: '\e823'; } /* '' */
.pbmit-base-icon-cart:before { content: '\e824'; } /* '' */
.pbmit-base-icon-search:before { content: '\e825'; } /* '' */
.pbmit-base-icon-arrow-right:before { content: '\e826'; } /* '' */
.pbmit-base-icon-pencil:before { content: '\e827'; } /* '' */
.pbmit-base-icon-mobile:before { content: '\e828'; } /* '' */
.pbmit-base-icon-comment-1:before { content: '\e829'; } /* '' */
.pbmit-base-icon-world:before { content: '\e82a'; } /* '' */
.pbmit-base-icon-location-pin:before { content: '\e82b'; } /* '' */
.pbmit-base-icon-quote-left:before { content: '\e82c'; } /* '' */
.pbmit-base-icon-close:before { content: '\e82d'; } /* '' */
.pbmit-base-icon-comments-smiley:before { content: '\e82e'; } /* '' */
.pbmit-base-icon-category:before { content: '\e82f'; } /* '' */
.pbmit-base-icon-tag-1:before { content: '\e830'; } /* '' */
.pbmit-base-icon-shift-right:before { content: '\e831'; } /* '' */
.pbmit-base-icon-mail:before { content: '\e832'; } /* '' */
.pbmit-base-icon-phone:before { content: '\e833'; } /* '' */
.pbmit-base-icon-arrow-left:before { content: '\e834'; } /* '' */
.pbmit-base-icon-gallery-1:before { content: '\e835'; } /* '' */
.pbmit-base-icon-music-alt:before { content: '\e836'; } /* '' */
.pbmit-base-icon-shopping-cart:before { content: '\e837'; } /* '' */
.pbmit-base-icon-heart-empty:before { content: '\e838'; } /* '' */
.pbmit-base-icon-check:before { content: '\e839'; } /* '' */
.pbmit-base-icon-arrow-left-1:before { content: '\e83a'; } /* '' */
.pbmit-base-icon-plus-1:before { content: '\e83b'; } /* '' */
.pbmit-base-icon-unlink:before { content: '\e83c'; } /* '' */
.pbmit-base-icon-quote-right:before { content: '\e83d'; } /* '' */
.pbmit-base-icon-home:before { content: '\e83e'; } /* '' */
.pbmit-base-icon-angle-double-right:before { content: '\e83f'; } /* '' */
.pbmit-base-icon-angle-double-left:before { content: '\e840'; } /* '' */
.pbmit-base-icon-resize-full:before { content: '\e841'; } /* '' */
.pbmit-base-icon-eye:before { content: '\e842'; } /* '' */
.pbmit-base-icon-star:before { content: '\e843'; } /* '' */
.pbmit-base-icon-calendar:before { content: '\e844'; } /* '' */
.pbmit-base-icon-chat-1:before { content: '\e845'; } /* '' */
.pbmit-base-icon-search-1:before { content: '\e846'; } /* '' */
.pbmit-base-icon-left-thin:before { content: '\e847'; } /* '' */
.pbmit-base-icon-right-thin:before { content: '\e848'; } /* '' */
.pbmit-base-icon-headphone-alt:before { content: '\e849'; } /* '' */
.pbmit-base-icon-quotation:before { content: '\e84a'; } /* '' */
.pbmit-base-icon-envelope:before { content: '\e84b'; } /* '' */
.pbmit-base-icon-phone-call:before { content: '\e84c'; } /* '' */
.pbmit-base-icon-file:before { content: '\e84d'; } /* '' */
.pbmit-base-icon-search-2:before { content: '\e84e'; } /* '' */
.pbmit-base-icon-play:before { content: '\e84f'; } /* '' */
.pbmit-base-icon-right-arrow:before { content: '\e850'; } /* '' */
.pbmit-base-icon-shop:before { content: '\e860'; } /* '' */
.pbmit-base-icon-globe:before { content: '\e861'; } /* '' */
.pbmit-base-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.pbmit-base-icon-angle-up:before { content: '\f106'; } /* '' */
.pbmit-base-icon-angle-down:before { content: '\f107'; } /* '' */
.pbmit-base-icon-quote-right-1:before { content: '\f10e'; } /* '' */
.pbmit-base-icon-tumblr:before { content: '\f173'; } /* '' */
.pbmit-base-icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.pbmit-base-icon-digg:before { content: '\f1a6'; } /* '' */
.pbmit-base-icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.pbmit-base-icon-reddit:before { content: '\f281'; } /* '' */
.pbmit-base-icon-vimeo:before { content: '󨇎'; } /* '\e81ce' */
